<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>glassesController</servlet-name>
        <servlet-class>com.groud2.web.controller.glassesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>com.groud2.web.controller.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingController</servlet-name>
        <servlet-class>com.groud2.web.controller.bookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>com.groud2.web.controller.loginController</servlet-class>
    </servlet>
    <!--<<<<<<< Updated upstream-->
    <!--=======-->
    <servlet>
        <servlet-name>addStaff</servlet-name>
        <servlet-class>com.groud2.web.controller.AddStaff</servlet-class>
    </servlet>
    <!-->>>>>>> Stashed changes-->
    <servlet>
        <servlet-name>addRoom</servlet-name>
        <servlet-class>com.groud2.web.controller.AddRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addGlass</servlet-name>
        <servlet-class>com.groud2.web.controller.AddGlass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileController</servlet-name>
        <servlet-class>com.groud2.web.controller.profileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtoCart</servlet-name>
        <servlet-class>com.groud2.web.controller.AddtoCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>com.groud2.web.controller.cartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>com.groud2.web.controller.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsController</servlet-name>
        <servlet-class>com.groud2.web.controller.newsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>singleNewsController</servlet-name>
        <servlet-class>com.groud2.web.controller.singleNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>com.groud2.web.controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>com.groud2.web.controller.profileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileController</servlet-name>
        <servlet-class>com.groud2.web.controller.profileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportController</servlet-name>
        <servlet-class>com.groud2.web.controller.reportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminHome</servlet-name>
        <servlet-class>com.groud2.web.controller.AdminHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>glassesController</servlet-name>
        <url-pattern>/glasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingController</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtoCart</servlet-name>
        <url-pattern>/addtoCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsController</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singleNewsController</servlet-name>
        <url-pattern>/singleNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportController</servlet-name>
        <url-pattern>/reportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStaff</servlet-name>
        <url-pattern>/addStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRoom</servlet-name>
        <url-pattern>/addRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminHome</servlet-name>
        <url-pattern>/adminHome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>-->
</web-app>
